fastapi
uvicorn[standard]
python-dotenv
langchain==0.1.20
langchain-community==0.0.38
langchain-google-genai==1.0.6
chromadb==0.4.24

fastapi
uvicorn
python-dotenv
python-multipart
pypdf
unstructured
sentence-transformers

pydantic
pypdf
unstructured[all]
python-docx
python-multipart 
